.groupDataContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 50px;
  margin: 50px 0;
}

.groupScheduleContainer {
  display: flex;
  flex-direction: column;

  .scheduleMap {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 50px;
    background: whitesmoke;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 25px;
  }
}
