.updateSemester {
    margin: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  
    div {
      margin-bottom: 10px;
  
      label {
        display: block;
        margin-bottom: 5px;
      }
  
      input {
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 3px;
      }
    }
  
    button {
      background-color: #008CBA;
      width: 100%;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
  }